In [1]:
import pandas as pd

df = pd.read_csv("Melbourne_housing_FULL.csv")

df.shape

(34857, 21)

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [6]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [3]:
columd = ['Bedroom2','Bathroom',"Propertycount","Car"]

df[columd] = df[columd].fillna(0)

In [5]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        0
dtype: int64

In [7]:
df.drop_duplicates(inplace=True)

In [9]:
df['Distance'] = df['Distance'].fillna(0)

In [11]:

df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [13]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea         0
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        0
dtype: int64

In [15]:
df = df.drop(['Lattitude','Longtitude','Date','Postcode','YearBuilt','CouncilArea'],axis='columns')

In [17]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            7609
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Regionname          3
Propertycount       0
dtype: int64

In [19]:
df = df.dropna()

In [23]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Regionname       0
Propertycount    0
dtype: int64

In [25]:
df.shape

(27244, 15)

In [27]:
dataset = pd.get_dummies(df,drop_first=True)

In [29]:
dataset

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.000000,160.251616,4019.0,False,...,False,False,False,False,True,False,False,False,False,False
2,2,1035000.0,2.5,2.0,1.0,0.0,156.000000,79.000000,4019.0,False,...,False,False,False,False,True,False,False,False,False,False
4,3,1465000.0,2.5,3.0,2.0,0.0,134.000000,150.000000,4019.0,False,...,False,False,False,False,True,False,False,False,False,False
5,3,850000.0,2.5,3.0,2.0,1.0,94.000000,160.251616,4019.0,False,...,False,False,False,False,True,False,False,False,False,False
6,4,1600000.0,2.5,3.0,1.0,2.0,120.000000,142.000000,4019.0,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,4.0,1.0,3.0,593.000000,160.251616,6543.0,False,...,False,False,False,False,False,False,False,False,True,False
34853,2,888000.0,6.3,2.0,2.0,1.0,98.000000,104.000000,6543.0,False,...,False,False,False,False,False,False,False,False,True,False
34854,2,705000.0,6.3,2.0,1.0,2.0,220.000000,120.000000,6543.0,False,...,False,False,False,False,False,False,False,False,True,False
34855,3,1140000.0,6.3,0.0,0.0,0.0,593.607177,160.251616,6543.0,False,...,False,False,False,False,False,False,False,False,True,False
34856,2,1020000.0,6.3,2.0,1.0,0.0,250.000000,103.000000,6543.0,False,...,False,False,False,False,False,False,False,False,True,False

In [31]:
X = dataset.drop('Price',axis='columns')

X

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.000000,160.251616,4019.0,False,False,...,False,False,False,False,True,False,False,False,False,False
2,2,2.5,2.0,1.0,0.0,156.000000,79.000000,4019.0,False,False,...,False,False,False,False,True,False,False,False,False,False
4,3,2.5,3.0,2.0,0.0,134.000000,150.000000,4019.0,False,False,...,False,False,False,False,True,False,False,False,False,False
5,3,2.5,3.0,2.0,1.0,94.000000,160.251616,4019.0,False,False,...,False,False,False,False,True,False,False,False,False,False
6,4,2.5,3.0,1.0,2.0,120.000000,142.000000,4019.0,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.251616,6543.0,False,False,...,False,False,False,False,False,False,False,False,True,False
34853,2,6.3,2.0,2.0,1.0,98.000000,104.000000,6543.0,False,False,...,False,False,False,False,False,False,False,False,True,False
34854,2,6.3,2.0,1.0,2.0,220.000000,120.000000,6543.0,False,False,...,False,False,False,False,False,False,False,False,True,False
34855,3,6.3,0.0,0.0,0.0,593.607177,160.251616,6543.0,False,False,...,False,False,False,False,False,False,False,False,True,False
34856,2,6.3,2.0,1.0,0.0,250.000000,103.000000,6543.0,False,False,...,False,False,False,False,False,False,False,False,True,False

In [33]:
y = dataset.Price
y

1        1480000.0
2        1035000.0
4        1465000.0
5         850000.0
6        1600000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 27244, dtype: float64

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 ,random_state=2)

In [1]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

mod = LinearRegression()

In [ ]:

mod.fit(X_train,y_train)
mod.score(X_train,y_train)

In [4]:
ls = Lasso(alpha=50,max_iter = 100, tol = 0.1)

rd = Ridge(alpha = 50,max_iter = 100, tol = 0.1 )